/* THIS FILE IS FOR SITEWIDE CSS */

.menuButton {
  transition: transform 0.1s;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.menuButton:hover {
  transform: scale(0.95);
}

.menuButton:active {
  transform: scale(0.9);
}

#formErrorList li {
  color: #d81b60;
  list-style: disc;
}