/* THIS FILE IS FOR SITEWIDE CSS */

.menuButton {
  transition: transform 0.07s;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.menuButton:hover {
  transform: scale(1.03);
}

.menuButton:active {
  transform: scale(0.95);
}

#formErrorList li {
  color: #d81b60;
  list-style: disc;
}

#passwordsDoesntMatchAlert {
  color: red;
  font-size: 16px;
}